* {
    margin: 0;
    padding: 0;
}


.character {
    width: 5rem;
    height: 5rem;
    background-color: lightgray;
    display: inline-block;
}

.character-details {
    display: flex;
    padding-top: 25px;
    padding-left: 25px;
}


.character-holder {
    width: 60rem;
    height: 30rem;
    padding-right: 50px;

}

.character-kart {
    align-items: flex-start;
    padding-left: 50px;
}
