* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4aa4d6;
    padding: 2rem;
}

.character {
    width: 5rem;
    height: 5rem;
    display: inline-block;
}

.character-details {
    display: flex;
}

.character-holder {
    background-color: rgba(255, 255, 255, 0.3);
    width: 50rem;
    height: 30rem;
    padding: 2rem;
    border: 2px solid gray;
}

.character:hover {
    background-color: yellow;
}

.character-kart {
    align-items: flex-start;
    padding-left: 50px;
    width: 30rem;
    background-color: #4aa4d6;
}

.info-holder {
    text-align: center;
    width: 35rem;
}

.chosenCharacterName {
    color: white;
    font-family: "Oswald", sans-serif;
    animation: wibblewobble 2s infinite linear;
}

@keyframes wibblewobble {
    25% {
        transform: rotate(20deg);
    }
}

.title {
    font-family: 'Unica One', cursive;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;


}

.link {
    color: white;
    font-family: 'Unica One', cursive;

    position: fixed;
    bottom: 0;
    padding-bottom: 2rem;
}
