* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #4aa4d6;
    padding: 2rem
}

.character {
    width: 5rem;
    height: 5rem;
    display: inline-block;
}

.character-details {
    display: flex;
}


.character-holder {
    background-color: rgba(255, 255, 255, .3);
    width: 60rem;
    height: 30rem;
    padding: 2rem;

}

.character:hover {
    background-color: yellow;
}

.character-kart {
    align-items: flex-start;
    padding-left: 50px;
    width: 30rem;
    background-color: #4aa4d6;
}
